@charset "ISO-8859-1";


body{
	margin:0;
	padding:0;
	background-color: #ebf0fa;
	font-family: sans-serif;
}

p{
	font-size:20px;
	font-family: sans-serif;
	margin-top:10px;
	margin-left: 10px;
}

.vinfo{
	margin-top: 150px;
	width: 500px;
	height: 650px;
	background: transparent;
	border: 1px solid #2d5986;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}
.form-info input{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 15px;
}

.idt{
	margin-top:20px;
}

.form-info input[type="submit"]{
	alignment: center;
	width: 200px;
	border: none;
	ouline: none;
	height: 40px;
	background: #2d5986;
	color: #fff;
	font-size:16px;
	border-radius: 20px;
}
.form-info input[type="submit"]:hover{
	cursor: pointer;
	background: #3973ac;
	color: #ebf0fa;
}